<% content_for :page_title do %>
      <h1>Edit Project</h1>
<% end %>

<% content_for :sidebar do %>
	<%= link_to 'Show', @project %> <br/>
	<%= link_to 'Back', projects_path %>
<% end %>

  
<%= render 'form' %>