<% content_for :page_title do %>
	<div class="page-header">
    	<h1>New Project</h1>
    </div>
<% end %>

<% content_for :sidebar do %>
  <%= link_to 'Back', projects_path %>
<% end %>

  
<%= render 'form' %>
